
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FullCalendar
@import '~fullcalendar/dist/fullcalendar.min.css';
@import '~fullcalendar/dist/fullcalendar.print.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

ul.navbar-nav {
    li {
        a {
            font-size: $font-size-base + 0.1;
        }
    }
}

.parallax {
    background-image: url('../images/parallax.jpg');

    height: 44em;

    // For larger screens make the image fill the screen
    @include media-breakpoint-up(xl) {
        height: 59em;
    }

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;

    .card {
        background-color: rgba(255, 255, 255, 0.8);

        padding: 0.8rem;

        min-width: 19em;
        width: 25%;

        .card-buttons {
            display: flex;
            justify-content: center;
            
            .btn {
                margin-left: 3px;
                margin-right: 3px;

                border-radius: 0;
            }
        }
    }
}

.btn {
    border-radius: 0;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

// TODO: Replace with proper flex box align
.temp-padding {
    padding-top: 40px;
}