
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// ul.navbar-nav > li {
//     padding-left: 1rem;
//     padding-right: 1rem;
// }

ul.navbar-nav > li > a {
    font-size: $font-size-base + 0.1;
}